#details{:'ng-show' => 'detailData'}
  %h3 
    %span{:class => "{{detailData.service | lowercase}}"}
      Paket: {{detailData.id}}
  .row
    .span3
      %b Avsändare: 
      {{detailData.sender.name}}
    .span3
      %b Mottagare: 
      {{detailData.reciever}}
  %table#events.table
    %thead
      %tr
        %th Datum
        %th Plats
        %th Händelse
    %tbody
      %tr{:'ng-repeat' => 'event in detailData.events'}
        %td {{event.date}}
        %td {{event.location}}
        %td {{event.message}}
        
.progress.progress-striped.active{:'ng-hide' => 'detailData'}
  .bar{:style => 'width: 100%'}
