!!!
%html
  %head
    %title Tracka.se
    %script{:src => '/js/jquery.min.js', :type => "text/javascript"}
    %script{:src => '/js/bootstrap.min.js'}
    %script{:src => '/js/base.js'}
    %link{:href => '/css/bootstrap.min.css', :rel => 'stylesheet'}
  %html
    .container
      .span4
        %h2 Sök paket:
        %input#kollinr{:type => 'text', :style => 'width: 95%', :placeholder => 'Kollinummer'}
        #loading.progress.progress-striped.active.hide
          .bar{:style => 'width: 100%'}
        %h3 Tidigare sökningar:
        %ul#oldsearches.nav.nav-tabs.nav-stacked
      #right.span6
        #details.hide
          %h3 
            Paket:
            %span#kolliid
          .row
            .span3
              Avsändare:
              %address#sender
            .span3
              Mottagare:
              %address#reciever
          %table#events.table
            %thead
              %tr
                %th Datum
                %th Plats
                %th Händelse
            %tbody
